

header a,
header a:link,
header a:visited {
	font-family: Cabin
}

.font-size-s {
	font-size: .875rem
}

.margin-left-s {
	margin-left: .5rem
}

.margin-left-base {
	margin-left: 1rem
}

.main-menu__container .NavigationLink a.btn-link {
	display: inline
}

.main-menu__container .NavigationLink a.btn-link:hover {
	text-decoration: none
}

header ::after,
header ::before,
header.main-menu__container,
header.main-menu__container * {
	box-sizing: border-box
}

.main-menu__container .osicons-v2-link-out::before {
	content: '\e920'
}

.main-menu__container .osicons-v2-search::before {
	content: '\e908'
}

.main-menu__container .osicons-v2-cancel::before {
	content: '\e906'
}

.main-menu__container a,
.main-menu__container a:link {
	text-decoration: none
}

.main-menu__container ul {
	list-style: none;
	margin: 0;
	padding-left: 0
}

.main-menu__container .semi-bold {
	font-weight: 700
}

.main-menu__container__container-os {
	padding-right: 15px;
	padding-left: 15px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 72px
}

@media (min-width:992px) {
	.main-menu__container__container-os {
		max-width: 960px
	}
}

@media (min-width:1200px) {
	.main-menu__container__container-os {
		max-width: 1140px
	}
}

header.header-black a.text-yellow,
header.header-black a.text-yellow:visited {
	color: #fdb515
}

header.header-black a.text-yellow:hover {
	color: #fed06b
}

header.header-black .main-menu__container__section {
	color: #80858c
}

header.header-black .main-menu__container__background {
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, .05)
}

header.header-black .main-menu__submenu-content {
	background-color: #0a141e
}

header.header-black .main-menu__submenu-content__panel {
	transition: all .2s ease
}

header.header-black .main-menu__submenu-content__panel li a {
	width: 100%
}

header.header-black .main-menu__container__center .main-menu__submenu-content li a:hover,
header.header-black .main-menu__submenu-content__panel li a {
	color: #dedfe4
}

header.header-black .main-menu__submenu-content__panel+.main-menu__submenu-content__panel {
	border-left: 1px solid rgba(255, 255, 255, .05)
}

.main-menu__container__search_input_container input[type=search],
header.header-black .main-menu__container__search_input_container input {
	background-color: #222b34;
	color: #fff;
	font-family: NotoSans, Arial, Helvetica, sans-serif
}

header.header-black .main-menu__container__search_open[aria-expanded=true]~.main-menu__container__search_input_container {
	height: 100%
}

header.main-menu__container {
	box-shadow: inset 0 -1px 0 #ebebeb;
	box-sizing: border-box;
	display: block;
	font-family: Cabin, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.558;
	margin: 0;
	position: fixed;
	top: 0;
	transform: translate3d(0, 0, 0);
	transition: transform .2s ease-out;
	width: 100%;
	z-index: 200
}

.main-menu__container--transparent {
	box-sizing: border-box;
	margin: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 10
}

.main-menu__container__background {
	box-shadow: inset 0 -1px 0 #ebebeb;
	display: flex;
	flex-flow: column;
	position: relative;
	width: 100%;
	z-index: 2
}

.main-menu__container__background-mobile {
	display: flex
}

.main-menu__container__background--transparent {
	background-color: transparent;
	position: relative;
	width: 100%;
	z-index: 2
}

.main-menu__overlay {
	background: rgba(81, 88, 96, .5);
	content: "";
	cursor: pointer;
	height: 0;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	transition: visibility .2s ease, opacity .2s ease;
	visibility: hidden;
	width: 100vw;
	z-index: 1
}

.main-menu__container.open__main-menu .main-menu__overlay {
	height: calc(100vh + 100px);
	opacity: 1;
	visibility: visible
}

.main-menu__container__white-logo {
	width: 100%
}

.main-menu__container__second-nav {
	display: none !important;
}

.main-menu__container .os-button,
.main-menu__container .os-button:visited,
.main-menu__container a.os-button,
.main-menu__container a.os-button:link {
	align-items: center;
	background-color: transparent;
	border: 2px solid #db2400;
	border-radius: .333rem;
	color: #0a141e;
	display: inline-flex;
	font-family: Cabin, Arial, Helvetica, sans-serif;
	padding: .5em 1em;
	transition: background-color .2s, color .2s, border .2s;
	transition-timing-function: ease
}

.main-menu__container a.os-button.primary {
	background-color: #f22800;
	border: 2px solid #f22800;
	color: #fff;
	font-size: 1em;
	line-height: 1.6
}

.main-menu__container a.os-button.primary:hover,
.os-button.primary:hover,
.os-button.primary:link:hover {
	background-color: #bb1f00;
	border: 2px solid #bb1f00
}

.main-menu__submenu-content__panel.active .content__card__panel__link__text,
.mobile__content__card__panel__link.active .content__card__panel__link__text {
	box-shadow: 0 3px 0 -1px #f22800
}

.main-menu__container .os-btn-light,
.main-menu__container .os-btn-light:visited {
	align-items: center;
	background-color: #fff;
	border: 2px solid transparent;
	border-radius: 6px;
	color: #0a141e;
	cursor: pointer;
	display: inline-flex;
	font-family: Cabin, Arial, Helvetica, sans-serif;
	font-size: 1em;
	justify-content: center;
	line-height: 1.5;
	padding: .5em .875em;
	transition: all .2s ease;
	white-space: nowrap
}

.main-menu__container .os-btn-light:focus,
.main-menu__container .os-btn-light:hover,
.main-menu__container .os-btn-light:visited:hover {
	background-color: #c6c9ce;
	color: #0a141e
}

.main-menu__container div.header-info {
	align-items: center;
	color: #bababa;
	display: flex
}

header .header-login .header-headshot {
	border: 2px solid transparent;
	border-radius: 100%;
	height: 34px;
	margin: 7px 0;
	transition: all .3s ease;
	width: 34px
}

header .header-login .header-headshot.mvp-border {
	border-color: #ef8600
}

header .header-login .DropdownActive .header-headshot {
	border: 2px solid #fff
}

header .header-login .header-login-dropdown,
header .header-login .header-login-dropdown-desktop {
	cursor: pointer;
	display: flex;
	position: relative
}

header .header-login-phone {
	display: none
}

header .header-login .header-login-dropdown .fa-angle-down,
header .header-login .header-login-dropdown-desktop .fa-angle-down {
	color: #bababa;
	margin-left: 5px;
	margin-top: 17px;
	width: 10px
}

header .header-login .header-login-dropdown .osicons-v2-arrow-down,
header .header-login .header-login-dropdown-desktop .osicons-v2-arrow-down {
	color: #bababa;
	margin-left: 5px;
	margin-top: 15px;
	font-size: 11px
}

header .header-login .unread-messages-wrapper {
	background-color: #db2400;
	border-radius: 100%;
	color: #fff;
	font-size: 12px;
	height: 18px;
	line-height: 17px;
	padding: 0;
	position: absolute;
	right: 8px;
	text-align: center;
	top: 2px;
	width: 18px
}

header .header-login .header-login-dropdown-menu {
	background: #0a141e;
	border: 1px solid #222b34;
	color: #fff;
	text-align: left;
	margin-left: -150px;
	position: absolute;
	top: 55px;
	z-index: 11;
	border-top: none;
	width: 210px
}

header .header-login .header-login-dropdown .header-login-dropdown-menu {
	right: -55px
}

header .header-info .Header-UserInfo {
	cursor: default;
	font-size: 14px;
	font-weight: 700;
	line-height: 1;
	padding-bottom: 15px;
	padding-left: 20px;
	padding-top: 15px;
	position: relative
}

header .header-login-dropdown-menu .menu-row+.menu-row {
	border-top: 1px solid #222b34
}

header .header-login .menu-row {
	align-items: center;
	color: #c6c9ce;
	cursor: pointer;
	display: flex;
	font-size: 14px;
	min-height: 50px;
	padding-left: 50px;
	position: relative;
	transition: all .2s ease
}

header .header-login .menu-row:hover {
	color: #fff;
	text-decoration: underline
}

header .header-login .menu-row-title {
	color: #80858c;
	font-weight: 600;
	padding: 9px;
	padding-left: 50px;
	position: relative
}

header .header-login .menu-row-header {
	color: #fff;
	cursor: default;
	display: block;
	font-weight: 600;
	padding-left: 20px;
	padding-top: 4px
}

header .header-login .menu-row-header:hover {
	color: #fff;
	text-decoration: none
}

header .header-login .menu-row-header .menu-row {
	font-weight: 400;
	min-height: auto;
	padding: 0
}

header .header-login .menu-row img,
header .header-login .menu-row-title img {
	left: 15px;
	margin-right: 15px;
	position: absolute;
	top: calc(50% - 13px)
}

header .header-info .header-icon {
	display: inline-block;
	text-indent: -5000em;
	overflow: hidden;
	width: 20px;
	height: 16px;
	margin-left: 11px
}

.header-login-link {
	height: 50px
}

header .main-menu__container__section {
	align-items: center;
	color: #80858c;
	display: flex;
	font-family: Cabin, Arial, Helvetica, sans-serif;
	font-size: 1.125rem;
	margin-left: 5px;
	position: relative
}

header .main-menu__container__section:empty {
	display: none
}

header .main-menu__container__section:before {
	background-color: #80858c;
	border-radius: 100%;
	content: "";
	height: 5px;
	margin-right: 12px;
	width: 5px;
	-servicestudio-display: none
}

h6.main-menu__submenu-content__title {
	font-family: Cabin, Arial, Helvetica, sans-serif;
	font-size: 1em;
	line-height: 1.5;
	margin: 0
}

.main-menu__container__search_input_container input::-webkit-input-placeholder {
	color: #979ca2
}

.main-menu__container__search_input_container ::placeholder {
	color: #979ca2;
	opacity: 1
}

.main-menu__container__search_input_container :-ms-input-placeholder {
	color: #979ca2
}

.main-menu__container__search_input_container ::-ms-input-placeholder {
	color: #979ca2
}

@media (min-width:992px) {
	.main-menu__container__background {
		background-color: #0a141e
	}
	header.header-black a,
	header.header-black a:visited {
		color: #d8d8d8
	}
	a.main-menu__item:visited {
		color: #39414a
	}
	header.header-black a.main-menu__item:link[aria-expanded=true],
	header.header-black a.main-menu__item:link[aria-expanded=true]:hover {
		color: #f85e40
	}
	header.header-black a.main-menu__item:link:hover,
	header.header-black a:visited:hover {
		color: #fff
	}
	.main-menu__container__second-nav {
		background-color: #222b34;
		display: block;
		font-family: Cabin, Arial, Helvetica, sans-serif;
		position: relative;
		z-index: 3
	}
	.main-menu__container__second-nav .main-menu__container__container-os {
		align-items: center;
		height: 28px;
		justify-content: flex-end
	}
	.main-menu__container__second-nav__list {
		display: flex
	}
	.main-menu__container__second-nav__list li {
		align-items: center;
		display: inline-flex
	}
	a.main-menu__container__second-nav__link,
	a.main-menu__container__second-nav__link:link {
		color: #dedfe4;
		font-size: .703em;
		line-height: 1.741
	}
	.main-menu__container__second-nav__link .header-login {
		margin-left: 16px
	}
	.main-menu__container__second-nav__login .main-menu__container__second-nav__link {
		margin-right: 0;
		margin-left: 16px;
		padding-left: 8px
	}
	.main-menu__container__second-nav__link .osicons-v2-user {
		margin-right: 3px
	}
	.main-menu__container__second-nav__list a.main-menu__container__second-nav__link:visited:hover,
	a.main-menu__container__second-nav__link:hover,
	a.main-menu__container__second-nav__link:link:hover {
		color: #dedfe4;
		text-decoration: underline
	}
	.main-menu__container__nav-content .main-menu__container__second-nav__link {
		display: none
	}
	.main-menu__container .main-menu__container__container-os {
		display: flex;
		position: relative;
		z-index: 2
	}
	.main-menu__container.main-menu__container__only-logo .main-menu__container__container-os {
		display: block
	}
	.main-menu__container__logo {
		align-items: center;
		display: flex;
		flex-grow: 1;
		max-width: 203px;
		padding-right: 40px
	}
	.main-menu__container__logo img {
		font-size: .667em;
		height: 41px;
		width: 155px
	}
	.main-menu__container__background-mobile>.header-login,
	.main-menu__container__background-mobile>.os-btn-light {
		display: none
	}
	.main-menu__container__nav-content {
		display: flex;
		flex-grow: 2;
		font-size: 1em;
		justify-content: space-between;
		line-height: 1.5
	}
	.main-menu__container__nav-content>nav {
		display: flex;
	    height: 72px
	}
	.main-menu__container__center ul.main_menu__list {
		display: flex;
		flex-flow: row wrap
	}
	.main-menu__container__center li {
		align-items: center;
		display: flex;
		line-height: 1
	}
	.main-menu__container__center li a {
		display: block;
		padding: 18px 8px;
		position: relative
	}
	header.header-black a.main-menu__item:link {
		color: #dedfe4
	}
	.main-menu__item {
		cursor: pointer;
		position: relative
	}
	a.main-menu__item:link,
	a.main-menu__item:link:hover {
		color: #39414a;
		font-family: Cabin, Arial, Helvetica, sans-serif;
		font-size: 1em;
		line-height: 1.5
	}
	.main-menu__container__center .main-menu__item__links:link {
		display: none
	}
	.main-menu__submenu-content__panel {
		align-items: stretch;
		border-bottom: 2px solid transparent;
		display: flex;
		flex: 1;
		font-size: 1em;
		line-height: 1.429;
		margin-top: 0;
		padding: 0;
		vertical-align: top;
		white-space: normal
	}
	header.header-black .main-menu__submenu-content__panel:hover {
		background-color: #222b34
	}
	.main-menu__item:after {
		background-color: #dedfe4;
		border: none;
		border-radius: 50%;
		bottom: 9px;
		content: '';
		height: 6px;
		left: calc(50% - 4px);
		opacity: .65;
		opacity: 0;
		position: absolute;
		transform: none;
		transition: .2s all ease;
		width: 6px
	}
	.main-menu__item.active:link[aria-expanded=true]:after,
	.main_menu__list li:hover .main-menu__item.active:link[aria-expanded=true]:after {
		background-color: #f85e40
	}
	.main-menu__submenu-content {
		display: none;
		left: 50%;
		opacity: 0;
		padding: 10px 30px 35px 30px;
		position: absolute;
		transform: translateX(-50%);
		transition: visibility .2s ease, opacity .2s ease, height .2s ease;
		visibility: hidden
	}
	.main-menu__item[aria-expanded=true]~.main-menu__submenu-content {
		display: block;
		opacity: 1;
		visibility: visible
	}
	.main-menu__submenu-content__panel+.main-menu__submenu-content__panel {
		margin-left: 30px
	}
	.main-menu__submenu-content__title:first-child {
		margin-top: 0
	}
	.main-menu__submenu-content__title {
		align-items: center;
		border-bottom: 0;
		color: #686e76;
		display: flex;
		font-size: 1em;
		margin-bottom: 0;
		min-width: 215px;
		padding-bottom: 13px;
		text-transform: uppercase
	}
	.main-menu__submenu-content li {
		overflow: hidden;
		padding: 0;
		white-space: unset;
		width: 100%
	}
	.content__card__panel__link__text {
		line-height: 1.5
	}
	.main-menu__submenu-content__panel:hover .content__card__panel__link__text {
		box-shadow: 0 3px 0 -1px #fff;
		color: #fff
	}
	.main-menu__submenu-content__panel li {
		display: inline-block
	}
	.main-menu__container__search {
		display: flex;
		position: relative;
		flex-grow: 1;
		justify-content: flex-end
	}
	.main-menu__container__search button {
		margin-right: 16px
	}
	.main-menu__container__search i {
		color: #fff;
		padding-bottom: 3px
	}
	.main-menu__container__search button:hover {
		cursor: pointer
	}
	.main-menu__container__search_open {
		background-color: transparent;
		border: none;
		font-size: 1em;
		line-height: 1.6875;
		padding: 0;
		transition: all .2s ease;
		visibility: visible
	}
	.main-menu__container__search_open[aria-expanded=true] {
		visibility: hidden
	}
	.main-menu__container__search_input_container {
		display: flex;
		font-size: 1.1111em;
		height: 60px;
		opacity: 0;
		position: absolute;
		right: 16px;
		top: 0;
		transition: all .5s ease;
		visibility: hidden;
		width: 0
	}
	.main-menu__container__search_open[aria-expanded=true]~.main-menu__container__search_input_container {
		opacity: 1;
		transition: all .5s ease;
		visibility: visible
	}
	.main-menu__container__search_input_container button {
		background-color: transparent;
		border: none;
		height: 100%;
		padding: 0;
		position: absolute;
		right: 5px
	}
	.main-menu__container__search_input_container .osicons-v2-search {
		display: none
	}
	.main-menu__container__search_input_container input,
	.main-menu__container__search_input_container input[type=search] {
		background-color: #f4f4f4;
		border: none;
		border-radius: 0;
		box-sizing: border-box;
		font-size: 1.2937em;
		height: 100%;
		line-height: 1.39;
		margin: 0;
		outline: 0;
		padding: 0 45px 0 25px;
		position: relative;
		width: 100%;
		-webkit-appearance: none
	}
	.main-menu__container__search_input_container input[type=search]::-ms-clear {
		display: none;
		height: 0;
		width: 0
	}
	.main-menu__container__search_input_container input[type=search]::-ms-reveal {
		display: none;
		height: 0;
		width: 0
	}
	.main-menu__container__search_input_container input[type=search]::-webkit-search-cancel-button,
	.main-menu__container__search_input_container input[type=search]::-webkit-search-decoration,
	.main-menu__container__search_input_container input[type=search]::-webkit-search-results-button,
	.main-menu__container__search_input_container input[type=search]::-webkit-search-results-decoration {
		display: none
	}
	.main-menu__container__search_input_container input::-webkit-search-cancel-button {
		-webkit-appearance: none
	}
	.main-menu__container__search_cancel {
		font-size: 1.07em;
		line-height: 1
	}
	.main-menu__container__search_confirm {
		display: none
	}
}

@media (max-width:991.98px) {
	header .header-login-phone {
		display: block
	}
	header .header-login {
		position: absolute;
		right: 59px;
		top: 7px
	}
	.main-menu__container__background-mobile {
		background-color: #0a141e
	}
	.main-menu__container__background-mobile>.os-btn-light {
		font-size: .875em;
		line-height: 1.5;
		position: absolute;
		right: 59px;
		top: 15px;
		height: 2.5em;
		opacity: 1;
		padding: 5px 12px;
		transition: opacity .2s linear
	}
	.open__main-menu__overflow-hidden .main-menu__container__background-mobile>.os-btn-light {
		visibility: hidden
	}
	header.header-black .main-menu__submenu-content__panel:hover {
		border: 0
	}
	header.header-black .main-menu__submenu-content__panel+.main-menu__submenu-content__panel {
		border: 0
	}
	.header-info .header-login {
		display: none
	}
	div.header-info {
		align-items: center;
		background-color: #222b34;
		bottom: 0;
		color: #dedfe4;
		display: flex;
		justify-content: space-between;
		padding: 24px 16px;
		position: absolute;
		width: 100%;
		z-index: 4
	}
	html.open__main-menu__overflow-hidden div#drift-widget-container {
		opacity: 0;
		transition: none;
		z-index: 0!important
	}
	header.header-black .main-menu__container__section {
		display: inline-block;
		font-size: 12px;
		left: 28px;
		position: absolute;
		top: 38px
	}
	html.open__main-menu__overflow-hidden {
		overflow: hidden!important;
		-webkit-overflow-scrolling: touch;
		position: relative
	}
	html.open__main-menu__overflow-hidden body {
		overflow: hidden!important;
		-webkit-overflow-scrolling: touch;
		position: relative
	}
	header.main-menu__container {
		box-shadow: none
	}
	.main-menu__container.main-menu__fade {
		transform: translate3d(0, -62px, 0)
	}
	.main-menu__container--transparent .main-menu__container__container-os {
		padding: 0
	}
	.main-menu__container .os-button.primary {
		font-size: .8em
	}
	.main-menu__container.open__main-menu {
		background-color: transparent;
		height: calc(100% + 1px);
		overflow: auto;
		overflow-y: scroll
	}
	.main-menu__container.open__main-menu .main-menu__container__background,
	.main-menu__container.open__main-menu .main-menu__container__container-os {
		height: 100%
	}
	.main-menu__container.open__main-menu::after {
		content: '';
		height: 40px
	}
	.main-menu__container .main-menu__container__container-os {
		box-shadow: 0 -1px 0 #222b34;
		flex-flow: column;
		padding: 0
	}
	.main-menu__container__only-logo .main-menu__container__container-os {
		box-shadow: none
	}
	.main-menu__container__nav-content {
		flex-flow: column;
		height: 0;
		overflow: hidden
	}
	.main-menu__container.open__main-menu .main-menu__container__search_input_container .main-menu__container__search_cancel {
		display: none
	}
	.main-menu__container__logo {
		display: flex;
	    height: 72px;
		margin-right: 0;
		max-width: 160px;
		padding: 0 16px
	}
	.main-menu__container .main_menu__list {
		flex-flow: column;
		width: 100%
	}
	.main_menu__list>li {
		border-bottom: none;
		display: block;
		width: 100%
	}
	.main-menu__container__search_confirm {
		display: block
	}
	.main-menu__submenu-content {
		box-shadow: none;
		left: 0;
		padding: 0;
		top: 0;
		transform: none;
		width: 100%
	}
	.main-menu__item[aria-expanded=true]~.main-menu__submenu-content {
		display: block
	}
	.main-menu__submenu-content__panel {
		display: block
	}
	.main-menu__submenu-content__panel+.main-menu__submenu-content__panel {
		margin-left: 0
	}
	.main-menu__container__btn {
		flex-grow: 1
	}
	.mobile__menu__container {
		background-color: #0a141e;
		display: flex;
		height: 0;
		position: relative;
		width: 100%
	}
	.main-menu__container.open__main-menu .main-menu__overlay {
		display: none;
		position: relative
	}
	.mobile__menu__container__center {
		height: calc(100% - 165px);
		order: 1;
		overflow: auto
	}
	.main-menu__container--logged-in .mobile__menu__container__center {
		height: calc(100% - 75px)
	}
	.mobile__menu__item,
	.mobile__menu__item:link,
	.mobile__menu__item:link:hover,
	.mobile__menu__item_solo,
	.mobile__menu__item_solo:link,
	.mobile__menu__item_solo:link:hover,
	a.mobile__menu__item:visited,
	a.mobile__menu__item_solo:visited {
		color: #fff;
		display: inline-block;
		font-size: 1.25em;
		letter-spacing: .5px;
		line-height: 1.5;
		padding: 12px 16px;
		position: relative
	}
	.main-menu__container__center li:first-of-type .main-menu__item {
		padding-top: 8px
	}
	.mobile__menu__item[aria-haspopup=true]::after {
		content: '\e90f';
		font-family: osicons-v2;
		font-size: 1em;
		line-height: 1.458;
		position: absolute;
		transform: translate(16px, -50%);
		top: 50%
	}
	.mobile__menu__container__bottom .NavigationLink a.btn-link {
		color: #39414a;
		font-size: 1em
	}
	.main-menu__submenu-content__list__panel+.main-menu__submenu-content__list__panel {
		padding-top: 8px
	}
	.mobile__content__card {
		background-color: #0a141e;
		height: calc(100% - 165px);
		overflow: auto;
		padding-bottom: 30px;
		position: absolute;
		top: 80px;
		transform: translateX(100%);
		transition: .4s ease all;
		width: 100%;
		z-index: 1
	}
	.main-menu__container--logged-in .mobile__content__card {
		height: calc(100% - 75px)
	}
	header .mobile__content__card {
		background-color: #fff;
		top: 74px
	}
	.mobile__content__card.show {
		transform: translate3d(0, 0, 0)
	}
	.mobile__content__card__panel__link {
		align-items: center;
		color: #fff;
		display: flex;
		font-size: 1em;
		line-height: 1.5;
		outline: 0;
		padding: 8px 16px 8px 69px
	}
	a.mobile__content__card__panel__link,
	a.mobile__content__card__panel__link:link,
	a.mobile__content__card__panel__link:link:hover {
		color: #fff
	}
	header a.mobile__content__card__panel__link,
	header a.mobile__content__card__panel__link:link,
	header a.mobile__content__card__panel__link:link:hover,
	header a.mobile__content__card__panel__link:visited {
		color: #dedfe4
	}
	.content__card__panel__link__icon {
		margin-right: 16px;
		width: 16px
	}
	.mobile__content__card__list__title {
		align-items: center;
		color: #979ca2;
		display: flex;
		font-size: .9em;
		padding: 8px 15px 8px 70px;
		text-transform: uppercase
	}
	.mobile__content__card__panel__list .mobile__content__card__panel__link {
		padding-left: 106px
	}
	.main-menu__container .menu-burger {
		align-items: center;
		background-color: transparent;
		border: none;
		color: #fff;
		display: flex;
		font-size: .7em;
		font-weight: 700;
	    height: 72px;
		padding: 0 16px 0 0;
		position: absolute;
		right: 0;
		text-transform: uppercase;
		top: 0
	}
	.main-menu__container .menu-burger:focus {
		outline: 0
	}
	.main-menu__container .menu-burger .nav-icon1 {
		cursor: pointer;
		height: 14px;
		margin-left: 12px;
		position: relative;
		transform: rotate(0);
		transition: .5s ease-in-out;
		width: 18px
	}
	.main-menu__container .menu-burger .nav-icon1 span {
		background: #f5f6fa;
		display: block;
		height: 2px;
		left: 0;
		opacity: 1;
		position: absolute;
		transform: rotate(0);
		transition: .25s ease-in-out;
		width: 18px
	}
	.main-menu__container .menu-burger .nav-icon1 span:nth-child(1) {
		top: 2px
	}
	.main-menu__container .menu-burger .nav-icon1 span:nth-child(2) {
		top: 6px
	}
	.main-menu__container .menu-burger .nav-icon1 span:nth-child(3) {
		top: 10px
	}
	.main-menu__container.open__main-menu .menu-burger .nav-icon1 span:nth-child(1) {
		top: 6px;
		transform: rotate(135deg)
	}
	.main-menu__container.open__main-menu .menu-burger .nav-icon1 span:nth-child(2) {
		opacity: 0
	}
	.main-menu__container.open__main-menu .menu-burger .nav-icon1 span:nth-child(3) {
		top: 6px;
		transform: rotate(-135deg)
	}
	.main-menu__container__search {
		align-items: center;
		display: flex;
		font-size: 1em;
		margin: 16px 0;
		order: -1;
		position: relative;
		right: 0;
		top: 0
	}
	.main-menu__container__search i {
		color: #afb2b8
	}
	.main-menu__container__search button:hover {
		cursor: pointer
	}
	.main-menu__container__search_open {
		display: none
	}
	.main-menu__container__search_open[aria-expanded=true] {
		visibility: hidden
	}
	.main-menu__container__search_input_container {
		padding: 0 16px;
		width: 100%
	}
	.main-menu__container__search_open[aria-expanded=true]~.main-menu__container__search_input_container {
		opacity: 1;
		transition: all .5s ease;
		visibility: visible
	}
	.main-menu__container__search_confirm {
		background-color: transparent;
		border: none;
		color: #afb2b8;
		display: block;
		height: 40px;
		font-size: 1em;
		line-height: 1.6875;
		padding: 0;
		position: absolute;
		right: 16px;
		top: 50%;
		transform: translateY(-50%);
		width: 48px
	}
	.main-menu__container__search_input_container input,
	.main-menu__container__search_input_container input[type=search],
	.phone .main-menu__container__search_input_container input[type=search] {
		background-color: #222b34;
		border: 1px solid #222b34;
		border-radius: 6px!important;
		box-sizing: border-box;
		color: #979ca2;
		font-size: 1em;
		height: auto;
		line-height: 1.5;
		margin: 0;
		outline: 0;
		padding: 8px 48px 8px 38px!important;
		width: 100%;
		-webkit-appearance: none
	}
	.main-menu__container__search_input_container input[type=search]:focus {
		border: 1px solid #afb2b8;
		box-shadow: none;
		color: #dedfe4;
		outline: 0
	}
	.main-menu__container__search_input_container input[type=search]:focus~.main-menu__container__search_confirm i {
		color: #dedfe4
	}
	.main-menu__container__search_input_container input[type=search]::-ms-clear {
		display: none;
		height: 0;
		width: 0
	}
	.main-menu__container__search_input_container input[type=search]::-ms-reveal {
		display: none;
		height: 0;
		width: 0
	}
	.main-menu__container__search_input_container input[type=search]::-webkit-search-cancel-button,
	.main-menu__container__search_input_container input[type=search]::-webkit-search-decoration,
	.main-menu__container__search_input_container input[type=search]::-webkit-search-results-button,
	.main-menu__container__search_input_container input[type=search]::-webkit-search-results-decoration {
		display: none
	}
	.main-menu__container__search_input_container .osicons-v2-search {
		color: #afb2b8;
		font-size: 1em;
		left: 31px;
		line-height: 1.6875;
		top: 50%;
		transform: translateY(-50%);
		position: absolute
	}
	.main-menu__container__search_input_container input::-webkit-search-cancel-button {
		-webkit-appearance: none
	}
	.main-menu__container__search_cancel {
		display: none
	}
	header .mobile__content__card__header {
		display: flex;
		justify-content: flex-start;
		padding: 8px 28px 16px 32px
	}
	.mobile__content__card__header__title {
		color: #afb2b8;
		font-size: 1.3em;
		margin-bottom: 0
	}
	header .mobile__content__card__header__title {
		color: #afb2b8;
		font-weight: 400
	}
	header .mobile__content__card__header__go-back {
		background: 0 0;
		border: none;
		color: #fff;
		display: block;
		font-size: 1.25em;
		font-family: Cabin, Arial, Helvetica, sans-serif;
		line-height: 1.5;
		padding: 0
	}
	header .mobile__content__card__header__go-back::before {
		border: none;
		content: '\e90e';
		font-family: osicons-v2;
		height: auto;
		left: auto;
		position: relative;
		top: auto;
		transform: none;
		width: auto
	}
	header .mobile__content__card__header__go-back-span {
		color: #979ca2;
		font-size: 1.25em;
		line-height: 1.5;
		margin-left: 16px
	}
	.main-menu__container a.os-button.primary {
		font-size: .8em
	}
	.main-menu__container__community i {
		font-size: .7em;
		padding-left: 8px
	}
	.main-menu__container__nav-content .main-menu__container__second-nav__link {
		color: #dedfe4;
		font-family: Cabin, Arial, Helvetica, sans-serif;
		font-size: 1em;
		line-height: 1.5
	}
	.main-menu__container__second-nav__link .osicons-v2-user {
		margin-right: 8px
	}
}

@media (min-width:992px) {
	.main-menu__container a:active,
	.main-menu__container a:hover {
		outline: 0
	}
	.menu-burger {
		display: none
	}
	.main-menu__blog.experience-editor .main-menu__container__btn a {
		width: 100%
	}
	.main-menu__container .NavigationLink:last-child {
		padding-right: 0
	}
	.mobile__content__card__header {
		display: none
	}
	.main-menu__item[aria-expanded=true]~.main-menu__submenu-content {
		max-width: 1130px;
		top: 62px;
		width: 100vw
	}
	.main-menu__submenu-content {
		background-color: #fff;
		padding: 0;
		transition: .3s ease all
	}
	.main-menu__submenu-content__panel ul {
		align-items: stretch;
		display: flex;
		width: 100%
	}
	.main-menu__submenu-content__panel li a {
		align-items: center;
		color: #515860;
		display: flex;
		height: 100%;
		justify-content: center;
		min-height: 120px;
		transition: 150ms ease all
	}
	.main-menu__submenu-content__panel .content__card__panel__link__icon {
		display: inline-block;
		margin-right: 9px;
		width: 16px
	}
	.main-menu__submenu-content .content__card__panel__link__text {
		white-space: pre-wrap
	}
	.main-menu__submenu-content__panel li:hover {
		background-color: transparent
	}
	.main-menu__container__center .main-menu__submenu-content li a:hover {
		background-color: transparent;
		color: #39414a
	}
	.main-menu__submenu-content__panel+.main-menu__submenu-content__panel {
		border-left: 1px solid #f5f6fa;
		margin-left: 0
	}
	a.main-menu__item:link {
		color: inherit
	}
	a.main-menu__item:link:hover {
		color: inherit
	}
	a.main-menu__item:link[aria-expanded=true] {
		color: #f22800
	}
	.main-menu__item[aria-expanded=true]:hover::after {
		background-color: #0a141e
	}
	.main-menu__item.active::after {
		opacity: 1
	}
	.main_menu__list:hover li {
		color: #979ca2
	}
	.main_menu__list li:hover {
		color: #0a141e
	}
	.main_menu__list li:hover .main-menu__item.active:after {
		background-color: #fff
	}
	.main-menu__container .NavigationLink a.main-menu__container__community {
		align-items: center;
		color: #686e76;
		display: flex;
		padding: 18px 0 22px
	}
	.main-menu__container__community i {
		font-size: 12px;
		padding-left: 8px
	}
	.main-menu__submenu-content__list {
		justify-content: center
	}
	.main-menu__submenu-content__list__panel {
		min-width: 500px;
		padding: 30px 80px
	}
	.main-menu__submenu-row.row-fullwidth .main-menu__submenu-content__list__panel {
		min-width: auto;
		padding: 30px
	}
	.main-menu__submenu-row.row-fullwidth .main-menu__submenu-content__title {
		min-width: auto
	}
	.main-menu__submenu-content__list__panel+.main-menu__submenu-content__list__panel {
		border-left: 1px solid #19222b
	}
	.main-menu__submenu-content__list__panel li {
		padding: 5px 38px
	}
	.main-menu__submenu-content__list__panel li a,
	.main-menu__submenu-content__list__panel li a:visited {
		color: #fff;
		display: inline-block;
		line-height: 1.5;
		padding: 0;
		transition: 150ms ease all
	}
	.main_menu__list .main-menu__submenu-content__list__panel li a:hover .content__card__panel__link__text {
		box-shadow: 0 3px 0 -1px #fff;
		color: #fff
	}
	.main-menu__submenu-content__list__panel__icon {
		margin-right: 16px;
		width: 16px
	}
	.main-menu__submenu-row {
		display: flex;
		justify-content: center
	}
}

@media all and (-ms-high-contrast:none),
(-ms-high-contrast:active) {
	.mobile__content__card__header__go-back::before {
		top: 10px
	}
}

.hidden-search {
	display: none
}

.new-menu-entry {
	background-color: #0077b3;
	background-image: linear-gradient(to right, #0077b3, #38bdff);
	border-radius: 6px;
	color: #fff;
	font-size: 14px;
	height: 24px;
	left: 10%;
	padding: 2px 10px;
	position: absolute
}

.phone .new-menu-entry {
	background-image: linear-gradient(to left, #0077b3, #38bdff);
	left: 55%;
	padding: 1px 10px;
	top: 38%
}

.new-menu-entry:after,
.new-menu-entry:before,
.phone .new-menu-entry:after,
.phone .new-menu-entry:before {
	border: solid transparent;
	border-color: rgba(0, 119, 179, 0);
	border-width: 4px;
	content: " ";
	height: 0;
	margin-top: -4px;
	pointer-events: none;
	position: absolute;
	top: 50%;
	width: 0
}

.new-menu-entry:after,
.new-menu-entry:before {
	border-left-color: #38bdff;
	left: 100%
}

.phone .new-menu-entry:after,
.phone .new-menu-entry:before {
	border-right-color: #38bdff;
	left: -7px;
	right: 100%
}

.contact-us-main {
	display: flex;
	align-items: center;
	margin-right: 10px
}

.main-menu__call-to-action {
	align-items: center;
	display: flex;
	margin: 0
}

header.header-black a.main-menu__call-to-action__btn {
	font-size: 1.125em;
	line-height: 1.5;
	font-family: Cabin, Arial, Helvetica, sans-serif;
	border-radius: 6px;
	border: none;
	background-color: #fdb515;
	padding: .3611em .7777em;
	color: #222b34
}

header.header-black a.main-menu__call-to-action__btn:hover {
	background-color: #d99b11;
	cursor: pointer
}

@media (min-width:992px) {
	.main-menu__call-to-action {
		margin: 0 16px 0 8px
	}
}

@media (max-width:991.98px) {
	.main-menu__container--logged-in-cta.main-menu__container--logged-in .mobile__content__card,
	.main-menu__container--logged-in-cta.main-menu__container--logged-in .mobile__menu__container__center {
		height: calc(100% - 165px)
	}
	.main-menu__container--logged-in-cta.main-menu__container--logged-in div.header-info {
		display: flex;
		justify-content: flex-end;
		height: 92px
	}
}

.main-menu__call-to-action a.main-menu__call-to-action__btn:visited {
	color: #222b34
}

.main-menu__call-to-action a.main-menu__call-to-action__btn:hover {
	color: #202327
}